       .val-100  {
           background-color: #1BFB21; color: #202020;
       }
       .val-90 {
           background-color: #1BFB21; color: #202020;
       }
       .val-80  {
           background-color: #7FFE7D; color: #202020;
       }
       .val-70  {
           background-color: #7FFE7D; color: #202020;
       }
       .val-60  {
           background-color: #A1FFA3; color: #202020;
       }
       .val-50  {
           background-color: #CBFDC8; color: #202020;
       }
       .val-40  {
           background-color: #CBFDC8; color: #202020;
       }
       .val-30  {
           background-color: #FFE2E4; color: #202020;
       }
       .val-20 {
           background-color: #FC9E9F; color: #202020;
       }
       .val-10 {
           background-color: #FF797A; color: #202020;
       }
       .val-0  {
           background-color: #FF797A; color: #202020;
       }
       .change_20{ color: green;}
.change_15{ color: green;}
.change_10{ color: green;}
.change_5{ color: green;}
.change_-5 { color: red;}
.change_-10 { color: red;}
.change_-15 { color: red;}
.change_-20 { color: red;}
       .font-hg.plus{
           color:green;
       }  
       .font-hg.minus{
           color:red;
       }
